.listing-section {
  padding: 50px 80px;
}

/* Header */
.listing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listing-header h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #1a1a1a;
  margin: 0 0 2rem 0;
}

.see-all {
  font-size: 1.2rem;
  color: #0f766e;
  cursor: pointer;
  font-weight: 500;
}

.see-all:hover {
  text-decoration: underline;
}

/* Grid */
.listing-grid {
  margin: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  flex-wrap: wrap;
}

/* Responsive */
@media (max-width: 768px) {
  .listing-section {
    padding: 40px 40px;
  }

  .listing-grid {
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  gap: 1rem;
}

}